{% extends "admin/base.html" %}
{% load admin_static %}



{% block footer_links %}
  <a href="https://www.facebook.com/leonardocsantoss" target="_blank" class="icon"><i class="icon-comment"></i>Suporte</a>
  <a href="https://www.facebook.com/leonardocsantoss" target="_blank" class="icon"><i class="icon-question-sign"></i>Ajuda</a>
{% endblock %}

{% block copyright %}
  Copyright &copy; {% now "Y" %}<br>Developed by <a href="https://www.facebook.com/leonardocsantoss" target="_blank">Leonardo C. Santos</a>
{% endblock %}
