.white-shadow{text-shadow:0 1px rgba(255,255,255,0.5)}
.white-shadow-max{text-shadow:0 1px #fff}
.grey-box-shadow{box-shadow:0 0 0 1px rgba(0,0,0,0.07)}
.greyer-box-shadow{box-shadow:0 0 3px rgba(0,0,0,0.4)}
.white-inset{box-shadow:inset 1px 1px 0 #fff}
.color-grey{color:#999}
.inline-block{display:inline-block}
.inline{display:inline}
.f11{font-size:11px}
.f12{font-size:12px}
.f14{font-size:14px}
.blue-gradient{background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))"}
.grey-gradient{background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))"}
.bold{font-weight:bold}
.auto-width{width:auto}
.clear{clear:both}
.hide-text{text-indent:200%;white-space:nowrap;overflow:hidden}
.bs-icon{text-indent:200%;white-space:nowrap;overflow:hidden;display:inline-block;width:14px;height:14px;background-image:url("../bootstrap/img/glyphicons-halflings.png");background-position:0 -96px;opacity:.6;margin:0}.bs-icon:hover{opacity:1}
html,body{height:100%;}
#wrap{min-height:100%;height:auto !important;height:100%;margin:0 auto -60px}
#push,#footer{height:60px}
@media (max-width:767px){#footer{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}}.header{color:#d4d4d4;height:45px;overflow:hidden;text-shadow:0 -1px #121414;background-color:#373b3d;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, right top, from(#3f4345), to(#373b3d));background-image:-webkit-linear-gradient(right center, #3f4345, #373b3d);background-image:-moz-linear-gradient(right center, #3f4345, #373b3d);background-image:-o-linear-gradient(left, #3f4345, #373b3d);background-image:-khtml-gradient(linear, left top, right top, from(#3f4345), to(#373b3d));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f4345', EndColorStr='#373b3d', GradientType=1);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f4345', EndColorStr='#373b3d', GradientType=1))"}.header .header-content{float:left;height:45px;overflow:hidden;padding:7px 0 0 30px;line-height:normal;overflow:hidden}.header .header-content.header-content-first{border-left:1px solid #45494c;margin-right:20px}
.header .header-content .time{font-weight:bold;color:#fff}
.header .header-content .header-column{float:left}.header .header-content .header-column i{margin-right:10px}
.header #branding{height:45px;float:left;min-width:200px;border-right:1px solid #2f3334}.header #branding h1{color:#fff;font-size:18px;margin:4px 15px 0 13px;padding:0;text-shadow:0 -1px #121414}
.header #branding a{text-decoration:none}.header #branding a:hover h1{text-shadow:0 0 10px rgba(255,255,255,0.4)}
.header a{color:#92d1ee;text-decoration:none}.header a:hover{text-decoration:underline}
.header a.grey{color:#d4d4d4}
.header #user-tools{padding:12px 20px 0 0;float:right}.header #user-tools .user-links{display:inline-block;margin-left:15px}
.header #user-tools .separator{color:#999;display:inline-block;margin:0 5px}
.header i{background-image:url(../img/glyphicons-halflings-white-nav.png)}
.footer{color:#666;background-color:#d5d7d8;font-size:11px;line-height:1.5em;text-shadow:0 1px rgba(255,255,255,0.5)}.footer .content{border-top:5px solid #e1e3e5}.footer .content .tools{float:left;padding:15px 0 0 20px}
.footer .content .branding{padding:15px 0 0 0;margin:0 auto;width:200px;text-align:center}
.footer .content .copyright{padding:9px 20px 0 0;float:right;text-align:right}
.nav-quick-search{margin:20px 0 2px 15px;position:relative}.nav-quick-search .search-query{border-radius:15px;width:150px;padding:3px 10px;background:#f6f7f8}
.nav-quick-search .submit{background:transparent;border:0;display:inline-block;position:absolute;width:20px;height:20px;right:20px;top:3px}
.breadcrumbs{font-size:14px;padding:8px 15px 8px 10px;margin:-5px 0 15px;background-color:#f5f5f5;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;text-shadow:0 1px rgba(255,255,255,0.5);color:#666}.breadcrumbs>a{display:inline-block;padding:0 3px;text-shadow:0 1px 0 #fff;font-weight:normal}.breadcrumbs>a>.divider{padding:0 5px;color:#ccc}
.breadcrumbs>a>.active{font-weight:bold;color:#666}
.breadcrumbs>.active{color:#999}
.breadcrumb{margin:-5px 0 15px;font-size:14px;text-shadow:0 1px rgba(255,255,255,0.5)}.breadcrumb li a{text-decoration:none}.breadcrumb li a:hover{text-decoration:underline}
.breadcrumb li.active,.breadcrumb li.active a{font-weight:bold;color:#333}
.breadcrumb.toplinks{font-size:12px;margin-bottom:12px}
.table-overview{border-spacing:0;margin-bottom:18px;border-radius:4px;background:#fff;width:auto;box-shadow:0 0 0 1px rgba(0,0,0,0.07)}.table-overview td,.table-overview th{padding:8px 20px 8px 15px;font-weight:normal;font-size:12px}
.table-overview th:first-child{min-width:145px}
.table-overview th{text-align:right;border-right:1px solid #ededed;border-bottom:1px solid #ededed;vertical-align:top}
.table-overview td{background-color:#f6f7f8;border-bottom:1px solid #f1f1f1}
.table-overview tr:last-child td,.table-overview tr:last-child th{border-bottom:0}
.table-overview tr:first-child td{border-top-right-radius:4px}
.table-overview tr:last-child td{border-bottom-right-radius:4px}
.table-overview tr:first-child th,.table-overview tr:first-child td{padding-top:10px}
.table-overview tr:last-child th,.table-overview tr:last-child td{padding-bottom:10px}
.table-overview caption{text-align:left;margin-bottom:3px}.table-overview caption a{font-size:17px;font-weight:normal;margin:0 0 5px 5px;text-decoration:none}
.table-overview tr.header-row:first-child th{border-top-left-radius:4px;border-top-right-radius:4px;border-top:0}
.table-overview tr.header-row th{text-align:center;font-weight:bold;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);border-bottom:1px solid #ddd;border-top:1px solid #ddd;text-shadow:0 1px rgba(255,255,255,0.5);padding:5px 10px;color:#333}
.table th,.table td{background-color:#fff;box-shadow:inset 1px 1px 0 #fff;text-shadow:0 1px rgba(255,255,255,0.5)}.table th input,.table td input{margin:0}
.table th a,.table td a{text-decoration:none}.table th a:hover,.table td a:hover{text-decoration:underline}
.table th p,.table td p{margin-bottom:0}
.table tr:not(:first-child) th,.table tr:not(:first-child) td{border-top:1px solid #eee}
.table thead{line-height:18px}.table thead th,.table thead td{padding:0;padding:7px 10px 8px;font-weight:bold;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3)}.table thead th div,.table thead td div{margin:0}
.table thead th .text>a,.table thead td .text>a,.table thead th .text>span,.table thead td .text>span{padding:8px 10px;margin:-6px -10px;display:block}
.table thead th{vertical-align:middle;line-height:normal}.table thead th .relative-wrapper{position:relative;display:inline;float:right;width:55px}
.table thead th .sortoptions{margin-top:2px;right:-55px;position:absolute}.table thead th .sortoptions a,.table thead th .sortoptions span{display:inline-block;float:left;padding:0 3px}
.table thead th .sortoptions .sortpriority{color:#777;padding-right:4px}
.table thead th .sortoptions .sortremove,.table thead th .sortoptions .toggle{display:block;width:12px;height:12px;opacity:.4;background-image:url("../bootstrap/img/glyphicons-halflings.png");background-position:-309px 0}.table thead th .sortoptions .sortremove:hover,.table thead th .sortoptions .toggle:hover{opacity:.8}
.table thead th .sortoptions .sortremove{margin-right:4px}
.table thead th .sortoptions .toggle.ascending{background-position:-310px -119px}
.table thead th .sortoptions .toggle.descending{background-position:-285px -120px}
.table thead th.sorted{padding-right:55px;background-color:#ddd;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#ddd));background-image:-webkit-linear-gradient(#e7e7e7, #ddd);background-image:-moz-linear-gradient(#e7e7e7, #ddd);background-image:-o-linear-gradient(top, #e7e7e7, #ddd);background-image:-khtml-gradient(linear, left top, left bottom, from(#e7e7e7), to(#ddd));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#dddddd', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#e7e7e7', EndColorStr='#dddddd', GradientType=0))"}
.table thead th.action-checkbox-column{width:33px}
.inline-group .tabular table.table tr.add-row td{background-color:#e2e2e2;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));background-image:-webkit-linear-gradient(#efefef, #e2e2e2);background-image:-moz-linear-gradient(#efefef, #e2e2e2);background-image:-o-linear-gradient(top, #efefef, #e2e2e2);background-image:-khtml-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0))";text-shadow:0 1px rgba(255,255,255,0.5);padding-left:10px}
.inline-group .tabular table.table td.delete{text-align:center;width:40px}
.inline-group .tabular table.table td .help-block{margin:0}
.table .add-row a,.add-row a{font-size:11px;text-decoration:underline}.table .add-row a:hover,.add-row a:hover{text-decoration:none}
.table tbody>tr.error,.table tbody>tr.warning,.table tbody>tr.info,.table tbody>tr.success{box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5)}
.table tbody>tr.error>td,.table tbody>tr.error>th{background-color:#f2dede;border-top:1px solid #eed3d3}
.table tbody>tr.warning>td,.table tbody>tr.warning>th{background-color:#fcf8e3;border-top:1px solid #f8efbe}
.table tbody>tr.info>td,.table tbody>tr.info>th{background-color:#d9edf7;border-top:1px solid #c4e3f3}
.table tbody>tr.success>td,.table tbody>tr.success>th{background-color:#dff0d8;border-top:1px solid #d0e9c6}
.table-hover tbody>tr.error:hover>th{background-color:#ebcccc}
.table-hover tbody>tr.warning:hover>th{background-color:#faf2cc}
.table-hover tbody>tr.info:hover>th{background-color:#c4e3f3}
.table-hover tbody>tr.success:hover>th{background-color:#d0e9c6}
.table-striped.table-hover tbody>tr.selected:hover>td,.table-striped.table-hover tbody>tr.selected:hover>th{background-color:#6ea6b9}
.table-striped.table-hover tbody>tr.selected:hover:nth-child(odd)>td,.table-striped.table-hover tbody>tr.selected:hover:nth-child(odd)>th{background-color:#6ea6b9}
.table th.text-left,.table td.text-left{text-align:left}
.table th.text-center,.table td.text-center{text-align:center}
.table th.text-right,.table td.text-right{text-align:right}
.table-bordered th:not(:first-child),.table-bordered td:not(:first-child){border-left:0}
.table-bordered th:not(:first-child),.table-bordered td:not(:first-child){border-left:0}
.table.table-condensed tbody th,.table.table-condensed tbody td{font-weight:normal;padding:5px 10px 4px 10px}
.table tbody>tr.selected>th,.table tbody>tr.selected>td{background-color:#83b3c3;border-top:1px solid #72a8bb;box-shadow:inset 1px 1px 0 rgba(255,255,255,0.2);color:#fff;text-shadow:none}.table tbody>tr.selected>th a,.table tbody>tr.selected>td a{color:#fff;text-decoration:underline}.table tbody>tr.selected>th a:hover,.table tbody>tr.selected>td a:hover{text-decoration:none}
.table tbody>tr.selected:nth-child(odd)>td,.table tbody>tr.selected:nth-child(odd)>th{background-color:#8db9c8}
.inline-sortable{white-space:nowrap}.inline-sortable a{display:inline-block;padding:2px 6px 2px 2px}.inline-sortable a:last-child{padding:0}
.inline-sortable a:hover .icon-alpha5{opacity:.5}
.selected td .inline-sortable a i,.selected td .inline-sortable a:hover i{opacity:1}
tr:first-child td .inline-sortable .sortable-up{opacity:.15;cursor:default}
tr.form-row:nth-last-child(3) td .inline-sortable .sortable-down,#result_list tr:last-child td .inline-sortable .sortable-down{opacity:.15;cursor:default}
.actionlist{margin:0;padding:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;box-shadow:0 0 0 1px rgba(0,0,0,0.07);background:#fff;min-width:200px}.actionlist li{font-size:11px;list-style:none;border-bottom:1px solid #f5f5f5;padding:3px 10px}.actionlist li:nth-child(2n){background-color:#f6f7f8}
.actionlist li:first-child{padding-top:5px}
.actionlist li:last-child{padding-bottom:5px;border:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.actionlist li i{float:left;margin-right:10px}
.actionlist li.deletelink{color:#999}
.actionlist li .deleted-entry{color:#333}
.applist td:last-child{min-width:40px}
.object-tools{float:right;margin-bottom:10px}.object-tools .btn{margin-left:5px}
.actions{margin-bottom:5px}.actions label{display:inline}
.below-actions .changelist-save{margin-top:-43px}
.change-list .hiddenfields{display:none}
#changelist .actions span.all,#changelist .actions span.action-counter,#changelist .actions span.clear,#changelist .actions span.question{display:none}
#changelist #action-toggle{display:none}
#changelist .actions span.action-label{display:none}
#toolbar form{margin:0 0 15px 0}
.search-container{margin-top:-5px}.search-container input,.search-container select{margin-top:5px}
.search-container input[type="radio"],.search-container input[type="checkbox"]{margin-top:3px}
.search-container .result-count{display:inline-block;margin:5px 0 0 5px;white-space:nowrap;vertical-align:middle}
.pagination-block{margin:15px 0 15px 0;overflow:hidden}
.pagination{padding:0;margin:0 20px 0 0;float:left}.pagination ul{margin:0}
.pagination ul li.active a,.pagination ul li.active span{color:#fff;font-weight:bold;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,0.25);vertical-align:middle;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);background-color:#2f96b4;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(#5bc0de, #2f96b4);background-image:-moz-linear-gradient(#5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:-khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#5bc0de', EndColorStr='#2f96b4', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#5bc0de', EndColorStr='#2f96b4', GradientType=0))";border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:dximagetransform.microsoft.gradient(enabled=false)}
.pagination ul li a,.pagination ul li span{line-height:26px;padding:0 10px}
.pagination-info{display:block;float:left;margin:5px 0 0 0}
h2.legend,.form-horizontal fieldset .legend{font-weight:bold;font-size:16px;line-height:36px;text-shadow:0 1px rgba(255,255,255,0.5);padding-left:10px}
.form-horizontal fieldset{display:table;width:100%;margin-top:35px;position:relative;box-shadow:0 0 0 1px rgba(0,0,0,0.07);-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}.form-horizontal fieldset.first,.popup .form-horizontal fieldset:first-of-type{margin-top:0}
.form-horizontal fieldset.first:not(:first-of-type){margin-top:5px}
.form-horizontal fieldset .legend{border:0;margin:-30px 0 0 0;position:absolute;top:0;width:98%;white-space:nowrap;overflow:hidden;margin-right:220px}.form-horizontal fieldset .legend .description{font-weight:normal;font-size:12px;display:inline-block;margin-left:20px;color:#999}
.form-horizontal fieldset.collapse{overflow:visible;height:auto}
.form-horizontal fieldset.collapsed{background-color:#f6f7f8}.form-horizontal fieldset.collapsed .legend{position:static;font-size:13px;font-weight:normal}
.form-horizontal fieldset.full-width{box-shadow:none}.form-horizontal fieldset.full-width .control-group{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;width:100%;display:block}.form-horizontal fieldset.full-width .control-group>div{display:block}
.form-horizontal fieldset.full-width .control-group .control-label{display:none;width:0}
.form-horizontal fieldset.full-width .control-group .controls{display:block;margin:0;padding:0;border:0;width:100%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}.form-horizontal fieldset.full-width .control-group .controls .html-widget{display:inline-block;margin:10px}
.form-horizontal fieldset.wide .control-label{min-width:200px}
.form-horizontal fieldset.collapsed *{display:none}
.form-horizontal fieldset.collapsed .legend,.form-horizontal fieldset.collapsed .legend *,.form-horizontal fieldset.collapsed{display:block !important}
.form-horizontal fieldset.collapsed .collapse-toggle{background:transparent;display:inline !important}
.form-horizontal .submit-row-bottom{margin:20px 0 0 200px}
.form-horizontal .control-group{display:table-header-group;margin:0;}.form-horizontal .control-group>div{display:table-row;width:100%}
.form-horizontal .control-group .control-label{background:#fff;display:table-cell;min-width:150px;float:none;padding:10px 20px 5px 10px;border-bottom:1px solid #ededed;width:auto}.form-horizontal .control-group .control-label label{padding:0;margin:0}
.form-horizontal .control-group .controls{display:table-cell;vertical-align:top;float:none;background-color:#f6f7f8;border-left:1px solid #ecedee;padding:5px 15px;width:100%;line-height:26px}.form-horizontal .control-group .controls p{margin-bottom:0}
.form-horizontal .control-group .controls .readonly{display:inline-block;vertical-align:middle;margin-right:5px}
.form-horizontal .control-group:first-child .control-label,.form-horizontal .control-group:first-of-type .control-label{padding-top:15px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px}
.form-horizontal .control-group:first-child .controls,.form-horizontal .control-group:first-of-type .controls{padding-top:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px}
.form-horizontal .control-group:last-child .control-label,.form-horizontal .control-group:last-of-type .control-label{padding-bottom:10px;border:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px}
.form-horizontal .control-group:last-child .controls,.form-horizontal .control-group:last-of-type .controls{padding-bottom:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.form-horizontal .control-group .help-block,.form-horizontal .control-group .help-inline{font-size:11px;color:#999;line-height:normal}
.form-horizontal .control-group .help-inline ul,.form-horizontal .control-group .radiolist{margin:0}.form-horizontal .control-group .help-inline ul li,.form-horizontal .control-group .radiolist li{list-style:none;padding:0 10px 0 0}
.form-horizontal .control-group .help-icon{margin:1px 0 0 5px}
.form-horizontal .control-group .field-box .controls label{float:left;display:inline-block;margin:5px 10px 0 0}.form-horizontal .control-group .field-box .controls label.required{margin-right:15px}
.form-horizontal .control-group .field-box .controls .multi-field-box{margin-top:5px;float:left;margin-right:15px}.form-horizontal .control-group .field-box .controls .multi-field-box .multi-field-controls{float:left}
.form-horizontal .control-group .field-box .controls .multi-field-box .help-block{display:block;margin:3px 0 0 5px}
.form-horizontal .control-group .field-box .controls .error .control-label,.form-horizontal .control-group .field-box .controls .error .help-block,.form-horizontal .control-group .field-box .controls .error .help-inline,.form-horizontal .control-group .field-box .controls .error .help-inline ul li,.form-horizontal .control-group .field-box .controls .error.multi-field-box label{color:#b94a48}
.form-horizontal .control-group .field-box .controls .error input,.form-horizontal .control-group .field-box .controls .error select,.form-horizontal .control-group .field-box .controls .error textarea{border-color:#b94a48;color:#b94a48}
.form-horizontal .control-group .field-box .controls:not(:first-child) .control-label{width:auto;margin-left:10px}
.form-horizontal .control-group .field-box .controls:not(:first-child) .controls{float:left;margin-left:10px}
.form-horizontal .control-group.first-error .control-label{color:#b94a48}
.form-horizontal .control-group.multi-field-row .controls{padding-top:0}
.form-horizontal .control-group.multi-field-row:first-child .controls,.form-horizontal .control-group.multi-field-row:first-of-type .controls{padding-top:5px}
.popup .one-column{padding-top:10px}
.control-group .add-another,.inline-group .add-another,.control-group .related-lookup,.inline-group .related-lookup{text-decoration:none;display:inline-block;padding:0 0 0 8px}
.control-group .related-lookup,.inline-group .related-lookup{padding-left:6px}
.control-group .vForeignKeyRawIdAdminField,.inline-group .vForeignKeyRawIdAdminField{width:90px}
.alert>ul{margin-top:10px}.alert>ul ul{margin-top:5px;margin-bottom:5px}
.empty-form,tr.empty-form{display:none}
h3{font-weight:bold;font-size:16px;line-height:36px;text-shadow:0 1px rgba(255,255,255,0.5);padding-left:10px;margin:0}
.form-horizontal .inline-group>h2{margin-top:11px}
.form-horizontal .inline-group fieldset:first-of-type{margin:0}
.form-horizontal .inline-group .inline-related{z-index:2;position:relative;border-bottom:1px solid #eee}
.form-horizontal .inline-group .add-row{z-index:1;position:relative;padding:6px 0 4px 15px;margin:-1px -1px 0 -1px;box-shadow:inset 1px 1px 0 #fff;background-color:#e2e2e2;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));background-image:-webkit-linear-gradient(#efefef, #e2e2e2);background-image:-moz-linear-gradient(#efefef, #e2e2e2);background-image:-o-linear-gradient(top, #efefef, #e2e2e2);background-image:-khtml-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0))";-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;border:1px solid #ddd}.form-horizontal .inline-group .add-row a{text-shadow:0 1px rgba(255,255,255,0.5)}
.form-horizontal .inline-related fieldset{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;margin:40px 0 0 0}.form-horizontal .inline-related fieldset:first-of-type .control-group:first-child,.form-horizontal .inline-related fieldset:first-of-type .control-group:first-of-type{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}.form-horizontal .inline-related fieldset:first-of-type .control-group:first-child .control-label,.form-horizontal .inline-related fieldset:first-of-type .control-group:first-of-type .control-label{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0}
.form-horizontal .inline-related fieldset:first-of-type .control-group:first-child .controls,.form-horizontal .inline-related fieldset:first-of-type .control-group:first-of-type .controls{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0}
.form-horizontal .inline-related fieldset.first{margin-top:0}
.form-horizontal .inline-related h3{font-size:12px;overflow:auto;box-shadow:0 0 0 1px rgba(0,0,0,0.07);line-height:34px;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}.form-horizontal .inline-related h3 b{display:inline-block;min-width:180px;margin-right:10px}
.form-horizontal .inline-related h3 span.delete,.form-horizontal .inline-related h3 span:last-child{float:right;margin-right:10px;font-weight:normal}
.form-horizontal .inline-related:not(:first-of-type) h3{margin-top:5px}
.form-horizontal .inline-related span{display:inline-block}.form-horizontal .inline-related span.delete input{margin:0}
.form-horizontal .inline-related span.delete label{padding:7px 0 0 5px;vertical-align:middle;margin:0}
.form-horizontal .inline-related.tabular{margin-top:15px}.form-horizontal .inline-related.tabular fieldset{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.form-horizontal .inline-related.tabular fieldset>h2{margin-top:-4px}
.form-horizontal .inline-related.tabular table{margin-bottom:0}
.form-horizontal .inline-related.tabular table td .errorlist{margin-bottom:5px;font-size:11px}
.form-horizontal .inline-related.tabular table td.control-group{display:table-cell}
.form-horizontal .control-group .controls .selector{overflow:auto}.form-horizontal .control-group .controls .selector .selector-available,.form-horizontal .control-group .controls .selector .selector-chooser,.form-horizontal .control-group .controls .selector .selector-chosen{float:left}.form-horizontal .control-group .controls .selector .selector-available h2,.form-horizontal .control-group .controls .selector .selector-chooser h2,.form-horizontal .control-group .controls .selector .selector-chosen h2{margin-left:5px;font-size:12px}
.form-horizontal .control-group .controls .selector .selector-available>a,.form-horizontal .control-group .controls .selector .selector-chooser>a,.form-horizontal .control-group .controls .selector .selector-chosen>a{margin-left:5px}
.form-horizontal .control-group .controls .selector .selector-available,.form-horizontal .control-group .controls .selector .selector-chosen{width:45%;min-width:150px;max-width:300px}.form-horizontal .control-group .controls .selector .selector-available select,.form-horizontal .control-group .controls .selector .selector-chosen select,.form-horizontal .control-group .controls .selector .selector-available input,.form-horizontal .control-group .controls .selector .selector-chosen input{width:100%;display:block}
.form-horizontal .control-group .controls .selector .selector-chooser{list-style:none;margin:70px 10px 0 10px}.form-horizontal .control-group .controls .selector .selector-chooser li a{text-indent:200%;white-space:nowrap;overflow:hidden;display:inline-block;width:14px;height:14px;background-image:url("../bootstrap/img/glyphicons-halflings.png");background-position:0 -96px;opacity:.6;margin:0;display:block;padding:4px;border:1px solid transparent;background-position:-236px -92px}.form-horizontal .control-group .controls .selector .selector-chooser li a:hover{opacity:1}
.form-horizontal .control-group .controls .selector .selector-chooser li a:hover{background-color:#fff;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;border:1px solid #ddd}
.form-horizontal .control-group .controls .selector .selector-chooser li:first-child a{background-position:-260px -92px}
.form-horizontal .control-group .controls .selector .selector-available a:not(.active),.form-horizontal .control-group .controls .selector .selector-chosen a:not(.active){color:#999;text-decoration:none}
.form-horizontal .control-group .controls .selector .selector-available select{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0}
.form-horizontal .control-group .controls .selector .selector-filter{margin-right:14px;position:relative;margin-bottom:-1px}.form-horizontal .control-group .controls .selector .selector-filter input{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}
.form-horizontal .control-group .controls .selector .selector-filter label{position:absolute;right:0;top:4px;margin-right:-10px;opacity:.2}
.controls{}.controls #id_groups_from{min-height:80px}
.controls #id_user_permissions_from{min-height:184px}
.controls .file-upload .clearable-file-input{display:inline-block;margin:0 0 0 30px}.controls .file-upload .clearable-file-input input{margin:5px 7px 0 0;vertical-align:middle;float:left}
.controls .file-upload .clearable-file-input label{font-size:11px;margin-top:2px;vertical-align:middle;display:inline-block;color:#999}.controls .file-upload .clearable-file-input label:hover{color:#b94a48}
.select2-container-multi .select2-choices{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.select2-container-multi .select2-choices .select2-search-choice{padding:3px 20px 3px 5px !important;line-height:normal}
.select2-container-multi .select2-search-choice-close{top:3px;left:auto !important}
.select2-search-choice .s2-size{float:right}
.select2-search-choice .s2-size em{font-style:normal;color:#808080;font-size:9px;text-shadow:0 1px 0 #fff}
.datetimeshortcuts{font-size:11px;margin-left:5px;vertical-align:middle}.datetimeshortcuts a:first-child{margin-right:4px}
.datetimeshortcuts a:last-child{margin-left:-6px;margin-right:10px}
.vDateField,.vTimeField{width:auto;vertical-align:top}
.suit-date{position:relative}.suit-date .datetimeshortcuts{margin-left:32px;color:#f6f7f8}.suit-date .datetimeshortcuts a:last-child{padding:0 5px;position:absolute;left:100px;z-index:2}.suit-date .datetimeshortcuts a:last-child img{visibility:hidden}
.suit-date input{vertical-align:middle}.suit-date input.vDateField{width:80px}
.suit-date input.vTimeField{width:60px}
.suit-date .add-on{position:absolute;left:94px}
.suit-date.suit-time .add-on{left:74px}
.suit-date.suit-time .datetimeshortcuts a:last-child{position:absolute;left:80px}
.autosize{max-height:150px}
.legend .description,h2 .description{font-weight:normal;font-size:12px;display:inline-block;margin-left:20px;line-height:normal;color:#999}
.form-horizontal .suit-tab{visibility:hidden}.form-horizontal .suit-tab.show{visibility:inherit}
.form-horizontal .suit-tab.collapsed.hide{display:none !important}
.suit-tab>h2,.form-horizontal .suit-include>h2{margin-top:-10px;margin-bottom:-6px;line-height:36px;padding:0}
.linked-select-link{font-size:11px;margin-right:5px}
.box,.well{box-shadow:0 0 0 1px rgba(0,0,0,0.07);-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;background:#f6f7f8;padding:10px 12px;border:0}
.menu-box{margin:0 0 10px 0;padding:5px 0;background-color:#fff}.menu-box li{list-style:none;line-height:18px}.menu-box li a{text-decoration:none;line-height:18px;display:block;padding:5px 10px 5px 13px;color:#666;border-bottom:1px solid #ededed}.menu-box li a:hover{background-color:#f6f7f8}.menu-box li a:hover:first-child{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px}
.menu-box li a:hover:last-child{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.menu-box li a i{margin-right:7px}
.menu-box li.active a{background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";color:#fff}
.menu-box li:last-child a{border-bottom:0}
.menu-box.menu-box-compact li a{padding-top:2px;padding-bottom:2px}
.save-box{text-align:center;margin-bottom:20px;padding:10px}.save-box .btn{width:150px;margin-bottom:10px}
.save-box .btn.btn-high{width:150px;min-height:40px}
.save-box a.text-error:hover{color:#fff;background-color:#b94a48}
.login #wrap{background:none}
.login #content-main{margin:0;box-shadow:0 0 0 1px rgba(0,0,0,0.07);border-radius:4px;background:#fff;padding:0;position:absolute;width:340px;left:50%;top:35%;margin-left:-170px;margin-top:-100px;}.login #content-main h1{font-size:14px;font-weight:normal;background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";color:#fff;text-shadow:0 1px #4f7f92;padding:0 15px;margin:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px}.login #content-main h1 i{margin-right:5px}
.login #content-main form{margin:15px 15px 0}.login #content-main form input[type=text],.login #content-main form input[type=password]{width:90%}
.login #content-main .submit-row{background:#f6f7f8;margin:10px -15px 0;padding:10px 15px;border-top:1px solid #eee;box-shadow:inset 1px 1px 0 #fff;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.login #content-main .control-group{border:0}
.left-nav{margin-top:10px}.left-nav>ul{list-style:none;margin:0;padding:5px 0}.left-nav>ul>li>a{border-bottom:1px solid #ededed;display:block;padding:5px 10px 5px 13px;color:#666;text-decoration:none;position:relative}.left-nav>ul>li>a i{margin-right:10px;opacity:.8}
.left-nav>ul>li>a em{float:right;font-style:normal;font-size:11px;margin:0;position:absolute;right:10px}
.left-nav>ul>li:last-child>a{border:0}
.left-nav>ul>li.active>a{color:#fff;text-shadow:0 1px #4f7f92;background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";border-bottom-color:#ccc}.left-nav>ul>li.active>a i{background-image:url(../img/glyphicons-halflings-white-shadow.png);opacity:1}
.left-nav>ul>li.active>a:after{content:url('../img/cc_active_nav.png');display:inline-block;margin-right:-21px;float:right;margin-top:-5px}
.left-nav>ul>li.active ul{display:block}
.left-nav>ul>li.separator,.left-nav>ul>li.separator:hover{background:#f0f0f0 !important;height:7px;display:block}
.left-nav>ul>li ul{display:none;border-bottom:1px solid #ededed;background-color:#f6f7f8;margin:-1px 0 0 0;padding:7px 0 7px 0;-webkit-box-shadow:inset 0 3px 3px -2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 3px 3px -2px rgba(0,0,0,0.2);box-shadow:inset 0 3px 3px -2px rgba(0,0,0,0.2);list-style:none}.left-nav>ul>li ul li a{display:block;padding:3px 0 4px 27px;text-decoration:none}.left-nav>ul>li ul li a:hover{background-color:#f1f1f1;text-shadow:0 1px #fff}
.left-nav>ul>li ul li a.add{padding:4px 0 4px 13px}.left-nav>ul>li ul li a.add i{margin-right:5px;opacity:.7}
.left-nav>ul>li ul li a i{margin-left:-20px;margin-right:5px;opacity:.7}
.left-nav>ul>li ul li.active a{color:#333;font-weight:bold}
.left-nav>ul>li:not(.active):hover{background:#f5f5f5}.left-nav>ul>li:not(.active):hover>ul{display:block;position:absolute;left:180px;padding:0;margin-top:-30px;margin-right:-250px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;box-shadow:0 0 3px rgba(0,0,0,0.4);z-index:10}.left-nav>ul>li:not(.active):hover>ul>li{border-bottom:1px solid #e5e5e5;border-top:1px solid #fff;background-color:transparent}.left-nav>ul>li:not(.active):hover>ul>li a{padding:3px 25px 3px 15px}
.left-nav>ul>li:not(.active):hover>ul>li:hover{border-bottom:1px solid #f1f1f1;border-top:1px solid #f1f1f1}
.left-nav>ul>li:not(.active):hover>ul>li:first-child{border-top:0}.left-nav>ul>li:not(.active):hover>ul>li:first-child a{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;padding-top:4px}
.left-nav>ul>li:not(.active):hover>ul>li:last-child{border-bottom:0}.left-nav>ul>li:not(.active):hover>ul>li:last-child a{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;padding-bottom:4px}
.calendarbox,.clockbox{margin:5px auto;font-size:11px;width:16em;text-align:center;background:#fff;position:relative;z-index:100;box-shadow:0 0 3px rgba(0,0,0,0.4);-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}.calendarbox h2,.clockbox h2,.calendarbox caption,.clockbox caption{-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";box-shadow:inset 1px 1px 0 #fff;text-shadow:0 1px rgba(255,255,255,0.5);border-bottom:1px solid #ddd;margin:0;padding:3px 15px;font-size:12px;font-weight:bold;text-align:center}
.clockbox{width:auto}
.calendar{margin:0;padding:0}
.calendar table{margin:0;padding:0;border-collapse:collapse;background:#fff;width:100%}
.calendar th{font-size:10px;color:#666;padding:2px 3px;text-align:center;background-color:#e5e5e5;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));background-image:-webkit-linear-gradient(#f3f3f3, #e5e5e5);background-image:-moz-linear-gradient(#f3f3f3, #e5e5e5);background-image:-o-linear-gradient(top, #f3f3f3, #e5e5e5);background-image:-khtml-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e5e5e5));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0))";border-bottom:1px solid #ddd;text-shadow:0 1px rgba(255,255,255,0.5)}
.calendar td{font-size:11px;text-align:center;padding:0;border-top:1px solid #eee;border-bottom:none}
.calendar td.selected a{background:#c9dbed}
.calendar td.nonday{background:#efefef}
.calendar td.today a{background:#ffa;font-weight:bold}
.calendar td a,.timelist a{display:block;padding:2px 4px;text-decoration:none;color:#444}
.calendar td a:hover,.timelist a:hover{background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";text-shadow:0 1px #4f7f92;color:#fff}
.calendar td a:active,.timelist a:active{background:#5295b0;color:#fff}
.calendarnav{font-size:10px;text-align:center;color:#ccc;margin:0;padding:1px 3px}
.calendarnav a:link,#calendarnav a:visited,#calendarnav a:hover{color:#999}
.calendar-shortcuts{background:#fff;font-size:11px;line-height:11px;border-top:1px solid #eee;padding:3px 0 4px;color:#ccc}.calendar-shortcuts a{display:inline-block;padding:2px 0}
.calendarbox .calendarnav-previous,.calendarbox .calendarnav-next{display:block;position:absolute;font-weight:bold;font-size:14px;text-decoration:none;padding:3px 8px 4px;background-color:#5295b0;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));background-image:-webkit-linear-gradient(#83b3c3, #5295b0);background-image:-moz-linear-gradient(#83b3c3, #5295b0);background-image:-o-linear-gradient(top, #83b3c3, #5295b0);background-image:-khtml-gradient(linear, left top, left bottom, from(#83b3c3), to(#5295b0));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#83b3c3', EndColorStr='#5295b0', GradientType=0))";text-shadow:0 1px #4f7f92;color:#fff}
.calendarnav-previous:hover,.calendarnav-next:hover{background:#5295b0}
.calendarnav-previous{top:0;left:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}
.calendarnav-next{top:0;right:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0}
.calendar-cancel{margin:0 !important;padding:2px 0 !important;font-size:11px;background-color:#e2e2e2;background-repeat:no-repeat;background-image:-webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));background-image:-webkit-linear-gradient(#efefef, #e2e2e2);background-image:-moz-linear-gradient(#efefef, #e2e2e2);background-image:-o-linear-gradient(top, #efefef, #e2e2e2);background-image:-khtml-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#e2e2e2', GradientType=0))";text-shadow:0 1px rgba(255,255,255,0.5);border-top:1px solid #ddd}
.calendar-cancel a{color:#000;display:block}
ul.timelist,.timelist li{list-style-type:none;margin:0;padding:0}
.timelist a{padding:2px}
div .datepicker{margin:0;padding:0}
.datepicker th,.datepicker td{height:16px !important}
.datepicker input.input-small{width:70px}
.input-append.date .add-on i,.input-prepend.date .add-on i{width:14px !important;height:14px !important;display:inline-block !important}
.nav-tabs-suit{list-style:none;margin:0 4px 15px 4px}.nav-tabs-suit li{display:inline-block;float:none;vertical-align:bottom}.nav-tabs-suit li:first-child{margin-left:10px}
.nav-tabs-suit li a{display:inline-block;padding:8px 20px 7px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;box-shadow:inset 1px 1px 0 #fff;text-decoration:none;color:#08c;font-size:13px}.nav-tabs-suit li a:hover{text-decoration:underline}
.nav-tabs-suit li a.error{color:#b94a48 !important}
.nav-tabs-suit li a,.nav-tabs-suit li a:hover{background-color:#f6f7f8;border:1px solid #ddd}
.nav-tabs-suit li.active a{font-weight:bold;color:#333;text-shadow:0 1px rgba(255,255,255,0.5);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.nav-tabs-suit li.active a,.nav-tabs-suit li.active a:hover{text-decoration:none;background-color:#edeff1;border-bottom-color:#edeff1}
.nav-tabs-suit:after,.nav-tabs-suit:before{display:inline;content:normal;clear:none}
body{background-color:#edeff1;min-width:960px}body.popup{min-width:inherit}
#wrap{background:url(../img/bg_left_white.gif) top left repeat-y}.popup #wrap{background:none}
a{text-decoration:underline}
a:hover{text-decoration:none}
a.icon{margin-right:10px}a.icon i{margin-right:5px}
a.icon:last-child{margin-right:0}
a.btn{text-decoration:none}
#content h1,#content h2,#content h3,#content h4,#content alert{text-shadow:0 1px rgba(255,255,255,0.5)}
.italic-title{font-size:17px;font-weight:normal;margin:0 0 5px 5px}
.inner-two-columns .inner-right-column{float:right;width:180px}.inner-two-columns .inner-right-column.fixed{position:fixed;right:20px;top:10px}
.inner-two-columns .inner-center-column{margin-right:200px}.inner-two-columns .inner-center-column .tab-content{overflow:inherit;margin-bottom:15px}
.icon-alpha5{opacity:.5}
.icon-alpha75{opacity:.75}
a:hover .icon-alpha5,a:hover .icon-alpha75{opacity:1}
.input-icon{position:relative;opacity:.2;margin-top:2px;margin-left:-25px;margin-right:8px}
.dashboard #content #content-main{float:left}
.dashboard #content #content-related{margin-left:20px;float:left}.dashboard #content #content-related .actionlist{float:left}
.colM h1{font-size:20px;margin:0 0 30px 5px}
h1,h2,h3,h4,h5,h6{text-shadow:0 1px rgba(255,255,255,0.5)}
h2{font-weight:bold;font-size:16px;line-height:24px;margin:0 0 0 10px}
a.append-icon i{margin-left:5px}
.content-title{display:none}
.popup .content-title{display:block;margin:0 0 10px 10px}
.errorlist{color:#b94a48}
.suit-columns{padding-left:200px;padding-right:40px;}.suit-columns .suit-column{position:relative;float:left}
.popup .suit-columns{padding:0}
#suit-center{padding:20px;width:100%}.popup #suit-center{width:94.9%;padding-bottom:0}
#suit-left{width:200px;right:240px;margin-left:-100%}
#suit-right{width:130px;padding:0 10px;margin-right:-190px;}
#push{clear:both}
@media print{html,body{-webkit-print-color-adjust:exact} a[href]:after{content:"" !important} select{-webkit-appearance:none} #header,.left-column,#footer,#push,#suit-left,.actions,.inner-right-column,.add-row{display:none} #wrap,body{background:transparent} .suit-columns{padding-left:0} .two-columns .center-column{margin:0} .inner-two-columns .inner-center-column{margin-right:0}}